.intro {
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
  padding-top: 15%;
  padding-left: 10%;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

#name {
  margin-top: -3%;
}

#detailInfo {
  margin-top: -3%;
  font-weight: normal;
  font-size: 20px;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: black;
  height: 60rem;
  width: auto;
}

.aboutMe {
  text-align: center;
}

.aboutMe h3 {
  font-size: 42px;
}

.logo {
  padding-top: 8%;
  padding-right: 15%;
}
.logo img {
  width: 500px;
  height: 500px;
}

.career {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-left: 30rem;
  place-content: center;
  text-align: center;
}

.education {
  display: grid;
  float: left;
  padding-left: 30rem;
  text-align: left;
  gap: 10px;
}

#title {
  font-weight: bold;
}

.eduTitle {
  font-weight: medium;
  font-size: 32px;
}
.job {
  display: grid;
  gap: 1rem;
  text-align: left;
}

.foto img {
  width: auto;
  height: 300px;
}

.careerSummary {
  font-weight: medium;
  font-size: 32px;
}

.descJob {
  text-align: left;
}
#desc1 {
  padding-top: 5rem;
}

#desc2 {
  padding-top: 6rem;
}

.skill {
  display: grid;
  float: left;
  padding-left: 10rem;
  gap: 10px;
}

#skillTitle {
  font-weight: medium;
  font-size: 32px;
}

.skill {
  text-align: left;
}

.skill ul li {
  margin: 0 0 10px 0;
}

.portofolio {
  display: grid;
  float: left;
  margin-top: 16rem;
  margin-left: -5rem;
}

.dieton img {
  width: 400px;
  height: auto;
}

#titlePorto {
  text-align: left;
  margin-left: -40%;
  font-size: 32px;
  font-weight: medium;
place-items: center;
}

.dieton a {
  text-decoration: none;
}


